In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('energydata_realenergydata.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048191 entries, 0 to 1048190
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   S/N             1048191 non-null  int64
 1   meter_id        1048191 non-null  object
 2   timestamp1      1048191 non-null  object
 3   timestamp2      1048191 non-null  object
 4   current         1048191 non-null  float64
 5   voltage         1048191 non-null  float64
 6   frequency       1048191 non-null  float64
 7   power_factor    1048191 non-null  float64
 8   energy          1048191 non-null  float64
 9   real_power      1048191 non-null  float64
 10  reactive_power  1048191 non-null  float64
 11  apparent_power  1048191 non-null  float64
dtypes: float64(8), int64(1), object(3)
memory usage: 96.0+ MB

1. check to transmission times
2. investigate timestamp columns

In [29]:
print('number of meters:',len(df['meter_id'].value_counts()))

number of meters: 45

In [35]:
print('List of meters: \n',np.sort(df['meter_id'].unique()))

List of meters:
 ['AED201' 'AED202' 'AED203' 'BED201' 'BED202' 'BED203' 'BED204' 'BED205'
 'BED206' 'BED207' 'BED208' 'BED209' 'BED213' 'BED215' 'BED216' 'BED217'
 'BED218' 'BED220' 'BED221' 'BED222' 'BED225' 'BED226' 'IBD204' 'IBD205'
 'IBD207' 'IBD208' 'IBD209' 'IBD210' 'IBD212' 'IBD213' 'IBD214' 'IBD216'
 'IBD217' 'IBD218' 'IBD219' 'IBD220' 'IBD240' 'IBD301' 'IKD201' 'IKD202'
 'IKD203' 'IKD204' 'PED201' 'PED202' 'PED203']

In [4]:
df['timestamp1'] = pd.to_datetime(df['timestamp1'])
df['timestamp2'] = pd.to_datetime(df['timestamp2'])

In [38]:
df['time_diff'] =  df['timestamp2'] - df['timestamp1']

In [39]:
df['time_diff'] = df['time_diff'].dt.total_seconds()

In [40]:
df['time_diff'].value_counts()

28.222721    7
28.272319    7
28.192467    7
28.644406    6
27.969238    6
            ..
29.303647    1
28.413658    1
28.090892    1
28.916585    1
27.783815    1
Name: time_diff, Length: 846667, dtype: int64

In [20]:
df['time_diff'].min(),df['time_diff'].max()

(19.571846, 605445663.691045)

In [21]:
df[df['time_diff'] > 30]

,S/N,meter_id,timestamp1,timestamp2,current,voltage,frequency,power_factor,energy,real_power,reactive_power,apparent_power,time_diff
388,9772,IBD240,2022-10-14 06:37:00+01:00,2022-10-14 06:37:34.639141+01:00,3.09,238.32,50.19,0.95,103.5694,700.04,230.11,736.89,34.639141
427,9811,IBD204,2022-10-14 08:43:46+01:00,2022-10-14 08:44:19.176854+01:00,0.50,231.42,50.03,0.97,0.0905,111.79,28.03,115.25,33.176854
428,9812,IBD205,2022-10-14 08:43:46+01:00,2022-10-14 08:44:19.451696+01:00,0.41,229.04,50.03,0.99,0.0094,93.42,13.29,94.36,33.451696
429,9813,IKD204,2022-10-14 08:43:49+01:00,2022-10-14 08:44:22.445780+01:00,0.45,230.32,50.03,0.99,0.0213,101.70,14.44,102.72,33.445780
430,9814,PED201,2022-10-14 08:43:48+01:00,2022-10-14 08:44:23.092559+01:00,0.44,229.40,50.03,0.99,0.0222,100.84,14.31,101.85,35.092559
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047980,1365270,IKD201,2023-03-11 01:14:30+01:00,2023-03-11 01:15:05.270142+01:00,0.03,200.90,50.30,0.75,215.3305,4.22,3.73,5.63,35.270142
1048011,1365301,IKD201,2023-03-11 01:23:46+01:00,2023-03-11 01:24:18.113200+01:00,0.03,203.72,50.28,0.77,215.3305,4.39,3.64,5.70,32.113200
1048022,1365312,IBD210,2023-03-11 01:26:35+01:00,2023-03-11 01:27:05.082454+01:00,0.03,190.82,50.25,0.74,0.0060,3.67,3.34,4.96,30.082454
1048110,1365400,IKD201,2023-03-11 01:48:48+01:00,2023-03-11 01:49:18.173158+01:00,0.03,203.26,50.15,0.77,215.3305,4.38,3.63,5.69,30.173158
1048180,1365470,IBD217,2023-03-11 02:03:43+01:00,2023-03-11 02:04:13.382541+01:00,2.40,215.56,49.31,0.75,348.8450,387.36,341.62,516.48,30.382541

In [47]:
print('')
df[df['time_diff'] > 60]['meter_id'].unique()

array(['IBD207', 'IBD205', 'BED221', 'IBD204', 'IBD220', 'IKD201',
       'AED201', 'BED202', 'IBD210', 'BED203', 'IBD209', 'BED222',
       'BED201', 'IKD202', 'IBD217', 'IKD204', 'IBD212', 'PED202',
       'IBD214', 'BED205', 'IKD203', 'BED207', 'IBD240', 'IBD301'],
      dtype=object)